{% import "modal_destroy.twig" as modal_destroy %}
{% extends 'layout.twig' %}
{% block title %}CoZ Crash Reports{% if not isAdminArea %} - Your Data{%endif %}{% endblock %}
{% block content %}
  <h1>Reports</h1>
  <p><em>
    {{ totalReports }}
    {% if isAdminArea %}
      crash(es) on record.
    {% else %}
      report(s) found in your current search.
    {% endif %}
  </em></p>

  {% for product, versions in data %}
    {% for version, reports in versions %}
      <h3>{{ product }} - {{ version }}</h3>
      <p><em>{{ reports | length }} crash(es) on record for this version.</em></p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>GUID</th>
              <th>RVA</th>
              <th><i class="fas fa-trash-alt"></i></th>
              <th><i class="fas fa-file-download"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for report in reports %}
              <tr id="report-row-{{ report.id }}" class="report-row" data-has-email="{{ report.hasEmail ? "true" : "false" }}" data-has-user-comment="{{ report.hasUserComment ? "true" : "false" }}"{% if isAdminArea %} data-has-admin-comment="{{ report.hasUserComment ? "true" : "false" }}"{% endif %}>
                <td>{{ report.date }}</td>
                <td>
                  {% if isAdminArea %}
                    <a href="{{ path_for('adminView', { 'id': report.id }) }}">{{ report.guid }}</a>
                  {% else %}
                    <a href="{{ path_for('view', { 'id': report.guid }) }}">{{ report.guid }}</a>
                  {% endif %}
                  <div class="float-right">
                    <i class="email-icon fas fa-at"></i>
                    <i class="uc-icon fas fa-comment"></i>
                    {% if isAdminArea %}<i class="ac-icon fas fa-sticky-note"></i>{% endif %}
                  </div>
                </td>
                <td>{{ report.rva }}</td>
                <td><a href="#" role="button" data-guid="{{ report.guid }}" data-toggle="modal" data-target="#modal-destroy"><i class="fas fa-trash-alt"></i></a></td>
                <td><a href="{{ base_url() }}/uploads/{{ report.guid }}.zip"><i class="fas fa-file-download"></i>&emsp;({{ report.filesize }})</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
    <hr>
  {% endfor %}

  {% if not isAdminArea %}
    <h1>Lookup</h1>
    <form action="{{ path_for('lookup') }}" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="list-text">Paste Report IDs here:</label>
        <textarea class="form-control" id="list-text" rows="10" name="listText"></textarea>
      </div>
      <div class="form-group">
        <label for="list-file">and/or upload <code>CoZCrashes.txt</code></label>
        <input type="file" class="form-control-file" id="list-file" name="listFile">
      </div>
      <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i>&emsp;Lookup</button>
    </form>
  {% endif %}
{% endblock %}
{% block modals %}
  {{ modal_destroy.modal( isAdminArea ? 'adminDestroy' : 'destroy', false) }}
{% endblock %}