<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ base_url() }}/bootstrap/css/bootstrap.min.css">
    <title>{{ block('title') }}</title>
  </head>
  <body>
    <div class="container" role="main">
      {{ block('content') }}
    </div>

    <script src="{{ base_url() }}/jquery/jquery.slim.min.js"></script>
    <script src="{{ base_url() }}/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>